@using WebApplication1.Models;
@model IEnumerable<WebApplication1.Database_Tbl>

<div>
    @{
        ViewBag.Title = "DatabaseInformation";
    }

    <div class="jumbotron">
        <h1>Database Dictionary</h1>
    </div>
        @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })<br />
</div>



