@using WebApplication1.Models;
@model IEnumerable<WebApplication1.Database_Tbl>

<div>
    @{
        ViewBag.Title = "DatabaseInformation";
    }

<div class="jumbotron">
        <h1>Database Dictionary</h1>
    </div>

    <h2>Database Information</h2><br />
</div>



