@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2><br />
<h3>@ViewBag.Message</h3><br />

<p><br>The main objective of this dictionary is to help Database Administrators and Database Developers to use this as the basis of their coding.</br>
   <br> The document will be describing the behaviour of a database dictionary system, the process of how information will be stored </br> 
   <br>and accessed from database dictionary and be used as point of reference when in need to understand the structure of database. </br> 
<br>A Database dictionary is a storage system that will be used to store names and descriptions of database objects.</br>
    <br> The system is going to assist database developers and database administrators learn and understand the structure of the database</br>
    <br> and what information gets saved into which table(s).</br>
    <br> Database dictionary will also have functions of browsing and searching for meanings of database objects in database.</br>
</p>

