@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2><br />
<h3>@ViewBag.Message</h3><br />

<h3><strong> The Data Dictionary?</strong></h3>
<br />

<div>
    <p>
        <h5 class="align-center">
             Database Dictionary serves as the real estate data gatherer, but what good is it if the data cannot be shared or understood? The Database Dictionary is a storage system that is used to store names and descriptions of database objects.
             It is a collection of descriptions of data objects or items in a data model for the benefit of its users (Database Administrators and Database Developers).It can also be used by programmers working on updating or replacing legacy systems to figure out the basuc data structures of the systems they are
             renovating and definitions of individual objects.Data dictionaries are also used to document the database design process itself and can accumulate meta-data ready to feed into the system catalog.
        </h5>
    </p>
</div>
  <br />
  
<p><h3><strong> Application should be used when: </strong></h3></p>

<div>
    <ul>
        <li><h5>One wants to learn more about databases available in the Organisation</h5></li>
        <li><h5>One needs to create a database dictionary description, and</h5></li>
        <li><h5>Someone thinks or feels that there's fields that have been deleted from the dictionary.</h5></li>
    </ul>
</div>
<br />

<div class="horizontalSplitter"></div>

<div class="page-block">
    <div class="row">
        <div class="col-xs-12">
            <h3><strong>Key people</strong></h3><br /><br />
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-1 text-center">
                    <a href="/Kutloisiso-Mona"><img src="~/fonts/Kutloisiso.jpg" alt="Kutloisiso"/></a><br>
                    <a href="/Kutloisiso-Mona">Kutloisiso Mona </a><br>
                    Product Owner
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                    <a href="/Khensani-Baloyi"><img src="~/fonts/Khensani.jpg" alt="Khensani"/></a><br>
                    <a href="/Khensani-Baloyi">Khensani Baloyia></a><br>
                    Scrum Master
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                    <a href="/Kgothatso-Manganye"><img src="~/fonts/Kgothatso.jpg" alt="Kgothatso"/></a><br>
                    <a href="/Kgothatso-Manganye">Kgothatso Manganye</a><br>
                    Development Head
                </div>
            </div>
        </div>
    </div>
</div>

    

