@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Slate Road, N1 Business Park<br />
    Old Pretoria Road, Midrand<br />
    Johannesburg South Africa<br />
    <abbr title="Phone">Tel:</abbr>
    (+27)11 729 3300
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>