    
<<<<<<< HEAD

=======
>>>>>>> origin/master
}

<div class="jumbotron">
    <h1>Database Dictionary</h1>
    <p class="lead"></p>
</div>

<div class="row">
<<<<<<< HEAD
<table class="table table-striped">
    <thead>
        <tr>
        <td>Name</td>
        <td><input type="text" id="name" /></td>
        </tr>
        <tr>
            <td><a href="~/Views/Home/Table.cshtml">DBA1</a></td>
            <td>Descriptions</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("DBA2", "Table", "Home")</td>
            <td>Descriptions</td>
        </tr>
    </tbody>
=======
<table border="1">
    <tr>
        <th>Name</th>
        
    </tr>
    <tr><th>Description</th>
       
    </tr>
    
>>>>>>> origin/master
</table> 
</div>