@{
    
}

<div class="jumbotron">
    <h1>Database Dictionary</h1>
    <p class="lead"></p>
</div>

<div class="row">
<table border="1">
    <tr>
        <td>Name</td>
        <td><input type="text" id="name" /></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><input type="text" id="description" /></td>
    </tr>
</table> 
</div>