
﻿@{ 

}

<div class="jumbotron">
    <h1>Database Dictionary</h1>
</div>

<div class="row">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="~/Views/Home/Table.cshtml">DBA1</a></td>
            <td>Descriptions</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("DBA2", "Table", "Home")</td>
            <td>Descriptions</td>
        </tr>
    </tbody>
</table> 
</div>