@{
    
}

<div class="jumbotron">
    <h1>Database Dictionary</h1>
    <p class="lead"></p>
</div>

<div class="row">
<table border="1">
    <tr>
        <th>Name</th>
        
    </tr>
    <tr><th>Description</th>
       
    </tr>
    
</table> 
</div>